*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(kelebek.jpeg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    
    width: 100%;
    height: 80px;
   background: rgb(255, 255, 255);
}
.navbar{
    display: flex;
justify-content: space-between;}

 

 .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(250, 250, 250);
}


.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    padding: 6px 13px;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    width: 920px;
    text-align: center;
}


.se{
    height: 80px;
}

.gg{
    display: flex;
    font-size: 30px;
}

.gg img{
    max-width: 25% ;
}


.slider{
    position: relative;
    width: 25%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
    padding: 1px 5px;
    background-color: hsla(316, 84%, 50%, 0.166);
    color: white;
    border-style: inherit;
    border-radius: 100%;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
